src/*.zip
*.pro.user
.qmake.stash
src/whcd
*.app
src/fefd
DC.app
DC.dmg
build
src/qt/locale/*.qm
src/leveldb/util/*.o
src/leveldb/table/*.o
src/leveldb/db/*.o
src/leveldb/*.a
src/obj/
src/qt/.DS_Store
src/qt/res/.DS_Store
src/run/
src/run1/
src/run2/
src/yhcd
src/leveldb/helpers/memenv/*.o
src/leveldb/port/*.o
src/leveldb/build_config.mk
src/.DS_Store
.DS_Store
Makefile
qrc_bitcoin.cpp
YHC.app
src/klcd
FEF.dmg
FEF.dmg.zip
